<% require './helpers/helpers.rb' %>

<link rel="stylesheet" href="/styles/style.css">

<%loadedcats = Cat.load%>
<div>
<h1> Select your feline friend! </h1>
  <form method='POST' action='/catselected'>
    <%loadedcats.each_with_index do |cat, idx|%>
      <p><input type="radio" name="input" value='<%= idx %>'><%= idx+1 %> ^_^<%= cat.to_s %>
    <%end%>
    <input type='submit'>
    <a href="/save-cat">Save Your Cat!</a>
  </form>
</div>

