<% require './helpers/helpers.rb' %>

<link rel="stylesheet" href="styles/style.css">

<div class="center">
  <h2>Competition Cats: Web Edition</h2>
  <p> a very textual feline game written in ruby, html, and alive thanks to sinatra!
  <h3><%= "ACCOUNT NOT FOUND TRY AGAIN OR SIGNUP!" if session[:email_error]%></h3>
  <form method='POST' action='/login'>
    <h2>Email</h2>
      <input name='email'><br>
    <h2>Password</h2>
      <input name='password'><br><br>
      <input type='submit'><br><br>
      <a href='/signup'>Click to Sign Up</a>
  </form>
</div>