<h1>Competition Cats Log In</h1>
<div>
  <form method='POST' action='/login'>
    <h2>Email</h2>
      <input name='email'><br>
    <h2>Password</h2>
      <input name='password'><br><br>
      <input type='submit'>
  </form>
</div>